<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style2.css' />
  <title>Musimundo - Álbuns</title>
</head>
<body>
    <div class="container-fluid">
        <%- include('./partials/nav')%>
    </div>
    <div class="h1-wraper">
        <h1>Álbuns - Ola, <%=usuario%>, seja bem-vindo(a)</h1>
        <form action="">
            <th><a href="/cadastro" class="btn btn-success">Adicionar Álbum</a></th>
        </form>
        <form action="/search" class="d-flex justify-content-around align-items-center" method="GET">
            <input type="text" name="key" id="" placeholder="Pesquisar Álbum" class="form-control ajuste">
            <button type="submit" class="ml-3 btn btn-success">Buscar</button>
        </form>
        <a href="/logout"><i class="fas fa-door-open"></i></a>
    </div>
<main class="container">
 
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Artista</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>

        <tbody>
            <% albuns.forEach(album=>{ %>
                <tr>
                    <th scope="row"><%=album.id%></th>
                    <th><%=album.titulo%></th>
                    <th><%=album.id_artista%></th>
                    <th><a href="/editar/<%=album.id%>"><button class="btn btn-primary">Editar</button></a></th>
                    <form action="/excluir/<%=album.id%>?_method=DELETE" method='POST' class="card p-3">
                        <th><Button class="btn btn-danger">Excluir</Button></th>
                     </form>
                </tr>
            <% }) %>
        </tbody>
    </table>
</main>
<script src="https://kit.fontawesome.com/72b828f62d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</body>
</html>
